.input {
    display: inline-block;
    width: 70%;
    margin-left: 10%;
    margin-top: 10px;
    &-theme-light {
        background: var(--colour);
        color: var(--insideColour);
    }
    &-theme-dark {
        background: var(--colourDark);
        color: var(--insideColourDark);
    }
}