.project {
    margin: 10px;
    margin-top: 50px;
    width: 50%;
    min-height: 70px;
    &-theme-light {
        background: var(--backgroundColour);
        border: 5px solid var(--colour);
    }
    &-theme-dark {
        background: var(--backgroundColourDark);
        border: 5px solid var(--colourDark);
    }
  }
  
.line {
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    &-theme-light {
        color: var(--colour);
    }
    &-theme-dark {
        color: var(--colourDark);
    }
}
