:root {
    --backgroundColour: rgb(24, 148, 50);
    --backgroundColourDark: rgb(32, 30, 30);
    --colour: rgb(70, 247, 247);
    --colourDark: rgb(214, 58, 58);
    --insideColour: rgb(12, 12, 14);
    --insideColourDark: rgb(234, 245, 247);
    --test: rgb(185, 25, 172);
}
.content {
    width:80%; 
    float: right;
    &-theme-light {
        background: var(--backgroundColour);
        color: var(--colourA);
    }
    &-theme-dark {
        background: var(--backgroundColourDark);
        color: var(--colourDark);
    }
}
.sidebar {
    position: fixed;
    height: 100%;
    width: 20%;
    margin: 0px;  
    &-theme-light {
        background: var(--backgroundColour);
        color: var(--colour);
    }
    &-theme-dark {
        background: var(--backgroundColourDark);
        color: var(--colourDark);
    }
}
.main {
    height: 100%;
    width: 100%;
    position: absolute;
    &-theme-light {
        background: var(--backgroundColour);
    }
    &-theme-dark {
        background: var(--backgroundColourDark);
    }
}
.header {
    text-align: center;
    margin-top: 30%;
    &-theme-light {
        background: var(--backgroundColour);
        color: var(--colour);
    }
    &-theme-dark {
        background: var(--backgroundColourDark);
        color: var(--colourDark);
    }
}
.point {
    text-align: center;
}

.theme-switcher {
    margin-top: 40px;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
}