.task {
    margin: 10px;
    background-color: rgb(255, 225, 127);
    width: 25%;
  }
  
.line {
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
}
.button {
    margin-top: 20px;
    margin-left: 20%;
    height: 30px;
    width: 50%;
    margin-bottom: 20px;
}