.content {
    background-color: deepskyblue;
    width:80%; 
    float: right;
}
.sidebar {
    position: fixed;
    height: 100%;
    width: 20%;
    margin: 0px;  
    background-color: rgb(255, 225, 127);

}
.header {
    text-align: center;
    margin-top: 30%;
}